.header {
  background-color: blue;
  color: #fff;
  padding: 10px;
  height: 100px;
  z-index: 999;
}

.session-content {
  display: flex;
  justify-content: flex-end;
}

.lists-right {
  list-style: none;
  background-color: white;
  margin: 30px 100px;
}