.header {
  background-color: burlywood;
  padding: 10px;
  height: 80px;
 
}

.session-content {
  display: flex;
  justify-content: flex-end;
}

.lists-right {
  list-style: none;
  background-color: white;
  margin: 30px 100px;
}