/* サイドバーのCSS */
.side {
  float: right;
  width: 20%;
  background-color:#ffffa8;
  padding: 20px;
  height: 100vh;
}


/* ログイン時のサイドバー表記 */
.user-into {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

/* ログイン時のユーザー指定画像 */
.sample-image {
  height: 100px;
  width: 100px;
  margin-top: 30px;
}

/* ログイン時のユーザーネーム表記 */
.user-name {
  margin-top: 30px;
  text-decoration: none;
  border-radius: 16px;
}

.iframeWrap {
  position: relative;
  margin-top: 50%;
}

.iframeWrap iframe {
  position: absolute;
}