<header class='header'>
<div class="header-title">Memory Roots</div>
  <div class='session-content'>
  <% if user_signed_in? %>
    <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "logout" %>
    <% end %>
  </div>

</header>