<header class='header'>
<div class="header-title">Memory Roots</div>
  <div class='session-content'>
    <ul class='lists-right'>
        <li><%= link_to 'ログアウト', root_path, class: "logout" %></li>
    </ul>
  </div>

</header>