<%= render "shared/header" %>
<%= render "shared/side_bar" %>

<div class="main">

<div class="birthday-title">
  <h3>生年月日を入力しましょう！(半角)⇓</h3>
    <label for="birthYear"></label>西暦
    <input type="text" class="group1" id="birthYear" placeholder="YYYY" maxlength="4" oninput="moveToNextField(this, document.getElementById('birthMonth'))">年
    <label for="birthMonth"></label>
    <input type="text" class="group1" id="birthMonth" placeholder="MM" maxlength="2" oninput="moveToNextField(this, document.getElementById('birthDay'))">月
    <label for="birthDay"></label>
    <input type="text" class="group1" id="birthDay" placeholder="DD" maxlength="2">
    <button onclick="calculateAgeAndEvents()">行事の計算</button>
    <p id="ageResult">年齢は計算されていません。</p>

    <%= javascript_include_tag 'main' %>

<p class="title"></p>

<div class="tab-wrap">
  <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" /><label class="tab-label" for="TAB-01">子供時代の行事一覧</label>
  
  <div class="tab-content">
    <div class="result" id="eventsResult">ここに行事の結果が表示されます。
      <li class="event-list">お七夜</li>
      <li class="event-list">お宮参り(男の子)</li>
      <li class="event-list">お宮参り(女の子)</li>
      <li class="event-list">お食い初め</li>
      <li class="event-list">ハーフバースディ</li>
      <li class="event-list">初節句(女の子)</li>
      <li class="event-list">初節句(男の子)</li>
      <li class="event-list">初誕生日</li>
      <li class="event-list">七五三(3歳)</li>
      <li class="event-list">七五三(5歳)</li>
      <li class="event-list">七五三(7歳)</li>
      <li class="event-list">小学校 入学</li>
      <li class="event-list">十三参り</li>
    </div>
  </div>



  <input id="TAB-02" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-02">大人時代の行事</label>
    <div class="tab-content">
    <div class="result" id="eventsResult-02">ここに行事の結果が表示されます。</div>
      <li class="event-list">成人式</li>
      <li class="event-list">還暦</li>
      <li class="event-list">古稀</li>
      <li class="event-list">喜寿</li>
      <li class="event-list">傘寿</li>
      <li class="event-list">米寿</li>
      <li class="event-list">卒寿</li>
      <li class="event-list">白寿</li>
      <li class="event-list">百寿</li>
      <li class="event-list">茶寿</li>
      <li class="event-list">皇寿</li>
      <li class="event-list">大還暦</li>
    </div>
  
  <input id="TAB-03" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-03">その他の行事</label>
    <div class="tab-content">
      <li class="event-list">結婚記念日</li>
    </div>
</div>

</div>

