<%= render "shared/header" %>
<%= render "shared/side_bar" %>

<div class="main">
<details>
  <summary>
    <span class="summary_inner">
      概要<span class="icon"></span>
    </span>
  </summary>
  折りたたまれている部分です。
</details>
</div>



