.main {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.birthday-title {
  font-size: 24px;
  margin-bottom: 20px;
}

/* フォームとボタン */
.group1 {
  width: 100px;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 5px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* タブスタイル */
.tab-wrap {
  margin-top: 20px;
}

.tab-switch {
  display: none;
}

.tab-label {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}

.tab-label:hover {
  background-color: #0056b3;
}

.tab-content {
  display: none;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
}

.tab-switch:checked + .tab-label + .tab-content {
  display: block;
}

/* 行事のリストスタイル */
.result {
  list-style-type: none;
  padding: 0;
}

.event-list {
  font-size: 16px;
  margin-bottom: 5px;
}

/* タイトル */
.title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}