.MyPage {
  display: flex;
  justify-content: center;
}

.page-title {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-edit {
  margin-top: 50px;
  margin-left: 20px;
}

.edit-link {
  color: #7fbfff;
  text-decoration: none;
  border: solid 5px;
}