.main-edit {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.user-edit {
  text-align: center;
}

.sample-image {
  max-width: 200px;
  margin: 0 auto;
  border-radius: 50%;
}

.container {
  margin-top: 20px;
  text-align: center;
}

.nicknameedit {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.update-btn {
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 更新ボタンのスタイル */
form input[type="submit"] {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #2980b9;
}